```
I believe this issue is caused because a PUBLISH request does not create a 
dialog (as per section 4 of RFC 3903).

This behaviour is already handled for REGISTER requests in tsip_dialog.js so 
the attached patch against trunk revision 174 adds PUBLISH support too.
```

Original comment by `d...@davecardwell.co.uk` on 29 Jan 2013 at 12:07

Attachments:
- [issue_64-publish_failed_to_handle_new_challenge.diff](https://storage.googleapis.com/google-code-attachments/sipml5/issue-64/comment-1/issue_64-publish_failed_to_handle_new_challenge.diff)


```
I use svn=179 version, still have this problem, Also, I try to update 
src/tinySIP/src/dialogs/tsip_dialog.js as you said, same thing happen
```

Original comment by `dragon2...@gmail.com` on 12 Jun 2013 at 8:02


```
Yeah this fix is not working...i have also tried it..

```

Original comment by `jani....@gmail.com` on 14 Jun 2013 at 10:52


```
Hi All
 I am also getting the same error.....
If anybody has got it fixed..plz share the same.
```

Original comment by `pratap....@gmail.com` on 18 Jan 2014 at 4:26
